{% verbatim %}


<div class="container-fluid">
  <div class="row">
    <div ng-controller="RecipeController">
      <div ng-controller='EditRecipeController'>
        <div ng-controller="GridController">
          <div class="col-md-1"></div>
          <div class="visible left col-md-5">
            <div class="row">
              <div class="col-md-12">
                <h3>The Calculator</h3>
                <div id="calcClear" ng-if="chosen != 0" ng-click="clear()">(clear)</div>

              </div>
            </div>
            <div class="row">
              <div class='col-md-12'>
                <table style="width:100%">
                  <tr>
                    <th class="firstCol">Compostable</th>
                    <th class="secondCol">C</th>
                    <th>N</th>
                    <th>Vol</th>
                    <th>&nbsp;</th>
                  </tr>
                  <tr ng-repeat="choice in chosen track by $index">
                    <td class="firstCol">{{choice.title}}</td>
                    <td class="secondCol">{{choice.carbon}}</td>
                    <td>{{choice.nitrogen}}</td>
                    <td><input type="number" id="{{$index}}Vol" ng-change="calculateTotals(false)" ng-model="choice.vol"></td>
                    <td><p ng-click="delete(choice)">(delete)</p></td>
                  </tr>
                  <tr>
                    <td id="blankLine">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="firstCol">Totals</td>
                    <td class="secondCol"><input type="number" id="totalCarbon" readonly></td>
                    <td><input type="number" ng-model="totalNitrogen" id="totalNitrogen" readonly></td>
                    <td><input type="number" id="totalVol" readonly></td>
                  </tr>
                </table>
                <p id="finalRatio">Final Ratio (C:N)&nbsp;&nbsp;&nbsp;<text id="ratio">1</text>:1</p>
                <div>
                  <h3>Suggestions:</h3>
                  <p>To achieve a proper ratio you should add <text id="suggestion"></text> compostables.</p>
                  <div id="carbonMaterials">
                    <h4>Carbon Rich Materials</h4>
                    <ul ng-repeat="post in posts | filter:carbonRich()">
                      <li ng-click="finishWith(post)">{{post.title}}</li>
                    </ul>
                  </div>

                  <div id="nitrogenMaterials">
                    <h4>Nitrogen Rich Materials</h4>
                    <ul ng-repeat="post in posts | filter:nitrogenRich()">
                      <li ng-click="finishWith(post)">{{post.title}}</li>
                    </ul>
                  </div>
                  {% endverbatim %}
                  {% if not user.is_anonymous %}
                  <h3>Save it for later!</h3>
                  <form class="form-inline">
                      <div class="form-group block-level">
                          <input type="text" class="form-control" ng-model="newRecipe.title" placeholder="Title">
                      </div>
                      <div class="form-group">
                          <input id="chosenJSON" type="text" class="form-control" ng-model="newRecipe.chosen" style="display: none;">
                      </div>
                      <div class="form-group">
                          <input id="hacks" type="number" class="form-control" ng-model="newRecipe.creator" style="display: none;">
                      </div>
                      <div class="form-group">
                          <button class="btn btn-default" ng-click="save()">Save Heap</button>
                      </div>
                  </form>
                  {% else %}
                  <h4><a href="" ng-click="loadURL('/calculator/login/')">Login</a> to save your heap.</h4>
                  {% endif %}
                  {% verbatim %}
                </div>
              </div>
            </div>
          </div>
          <div class="right col-md-5">
            <div class="visible fix">
              <div class="row">
                <div class="col-md-3">
                  <h3>Compostables</h3>
                </div>
                <div class="col-md-8" id="searchBar">
                  Search: <input ng-model="query">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h4>Carbon Rich:</h4>
                  <ul class="compostables">
                    <li ng-repeat="post in posts | filter:carbonRich() | filter:query">
                      <a href='' ng-mouseover="showPic(post.picture)" ng-click="addChosen(post)">{{post.title}}</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <h4>Nitrogren Rich:</h4>
                  <ul class="compostables">
                    <li ng-repeat="post in posts | filter:nitrogenRich() | filter:query">
                      <a href='' ng-mouseover="showPic(post.picture)" ng-click="addChosen(post)">{{post.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="visible fix">
              <div class="row">
                <div class="col-md-3">
                  <h3>Recipes</h3>
                </div>
                <div class="col-md-8" id="recipeSearchBar">
                  Search: <input ng-model="recipeQuery">
                </div>
              </div>
              <div class="row" id="myRecipes">
                <div class="col-md-6">
                  <h4>My Recipes:</h4>
                </div>
                <div class="col-md-6">
                  <h4>All Recipes:</h4>
                </div>
              </div>
              <div class="row scroll">
                <div class="col-md-6">
                  <ul class="compostables">
                    <li ng-repeat="recipe in recipes | filter:myRecipes() | filter:recipeQuery">
                      <a href='' ng-click="loadRecipe(recipe)">{{recipe.title}}</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="compostables">
                    <li ng-repeat="recipe in recipes | filter:recipeQuery">
                      <a href='' ng-click="loadRecipe(recipe)">{{recipe.creator}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endverbatim %}


<script>
// Add the CSRF Token
var app = angular.module('example.app.grid'); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
app.config(['$httpProvider', function($httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
}]);
</script>
